:root {
  --mainColor: #550f0f;
  --secondaryColor: rgb(155, 151, 151);
  --orangeColor: rgb(231, 135, 9);
  --darkColor: #444;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  color: var(--darkColor);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.126);
}
.home {
  display: flex;
  height: 100vh;
}

.flex__container {
  display: flex;
}
.container {
  width: 80%;
  margin: 80px auto;
}
.nav {
  width: 22%;
  height: 100vh;
  color: var(--secondaryColor);
}

.nav-heading {
  border-bottom: 1px solid #6b64643f;
  padding: 19.5px 0;
  color: #000;
}

.nav_list {
  list-style: none;
  padding: 0;
  padding-right: 10px;
}

.nav_list-item {
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
}
.nav_list-item::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--mainColor);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.nav_list-item:hover::before {
  transform: scaleY(1);
  width: 95%;
}

.nav_list-link {
  color: #000;
  font-weight: 700;
  display: block;
  position: relative;
  z-index: 10;
  padding-left: 40px;
  letter-spacing: 1px;
}
.nav_list-link:hover {
  color: #fff;
}
.nav-heading,
.main__heading {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 40px;
}

.hero {
  background-image: url("./main/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 95vh;
  position: relative;
}

.hero_text {
  display: none;
}
.hero_heading {
  font-size: 36px;
}
.hero_button {
  color: #fff;
  background-color: var(--orangeColor);
  padding: 10px 15px;
  border-radius: 20px;
}

.about {
  margin: 80px auto;
}
.about_text {
  text-align: center;
  line-height: 1.8;
}

.bold {
  font-weight: 700;
}
.product_container {
  width: 78%;
  margin: 80px auto;
}
.wishlist_container {
  margin: 80px auto;
}

.results {
  text-align: right;
  color: var(--secondaryColor);
  font-size: 12px;
  margin: 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  margin: 40px 0;
}

.product {
  height: 350px;
  text-align: center;
}
.product_image {
  height: 80%;
  width: 80%;
}
.product_info {
  text-align: left;
  padding-left: 30px;
  color: rgb(82, 74, 74);
  font-size: 14px;
  margin: 0;
}
.product_price {
  color: var(--darkColor);
  margin: 0;
}
.product_title {
  margin-bottom: 5px;
}

.product_details {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  display: flex;
}
.products_h1 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 24px;
  padding: 10px 0;
}

.filter {
  color: rgb(82, 74, 74);
  width: 100%;
  background-color: white;
}
.filter_container {
  text-align: right;
  padding: 10px 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
select {
  padding: 2px;
}
.filter_select {
  margin-right: 20px;
  display: inline-block;
}
.fiter_select-h4 {
  margin-right: 10px;
  display: inline-block;
}
.filter_title {
  color: grey;
}

.detail_main-photo {
  width: 200px;
}
.detail_second-photo {
  width: 200px;
}
.detail_third-photo {
  width: 200px;
}
.right,
.left {
  width: 50%;
}
.right {
  background-color: #fff;
  padding: 20px;
}

.size {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 10px;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  padding: 2px;
}
.detail_top,
.detail_middle {
  margin-bottom: 20px;
}

.detail_size,
.detail_price {
  margin-bottom: 5px;
}

.detail_images {
  margin: 0 auto;
  width: 75%;
}
.detail_heading {
  text-align: center;
  font-weight: 400;
  color: white;
  padding: 5px;
  background-color: var(--mainColor);
  margin: 0;
}

.detail_price {
  color: var(--mainColor);
  font-size: 24px;
  margin-top: 0;
}

.detail_description {
  line-height: 1.8;
}

.detail_size {
  display: flex;
  justify-content: space-between;
}
.wishlist_button {
  border: 1px solid var(--mainColor);
  padding: 7px 10px;
  background: #fff;
  color: var(--mainColor);
}
.wishlist_button:focus {
  outline: none;
}
.wishlist_button:hover {
  background: var(--mainColor);
  cursor: pointer;
  color: #fff;
}

.wishlist_view {
  font-size: 12px;
  margin-left: 15px;
  color: #000;
}

.liked_container {
  margin: 80px 0;
}
.liked {
  width: 78%;
  padding-bottom: 20px;
}
.liked_heading {
  color: var(--mainColor);
  font-size: 20px;
  padding: 20px 0;
}
.liked_item {
  display: flex;
  background: #fff;
  margin: 20px 0;
  width: 75%;
  position: relative;
}

.liked_image {
  height: 140px;
  width: 100px;
  margin-right: 20px;
}
.liked_image img {
  height: 100%;
  width: 100%;
}

.liked_list {
  width: 90%;
}
.liked_price {
  color: var(--darkColor);
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 16px;
}

.liked_results {
  text-align: right;
  font-size: 12px;
}

.brand-new {
  max-width: 90%;
  margin: 80px auto;
}
.brand-new__list,
.news__list {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.brand-new__list--item {
  width: 30%;
}
.brand-new__list--item img {
  height: 300px;
  width: 100%;
}

.news__list--item {
  width: 45%;
}
.news__list--item img {
  width: 100%;
  height: 300px;
}

.main__heading {
  margin-bottom: 0;
}
.main__paragraph {
  text-align: center;
  margin: 10px 0;
  color: var(--secondaryColor);
}
.brand-new__paragraph,
.news__paragraph {
  margin: 5px 0;
}
.grey {
  color: var(--secondaryColor);
}
.cost {
  color: var(--orangeColor);
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  padding: 10px;
}

.footer_list-item {
  display: inline-block;
  margin-right: 10px;
}
.footer_list-item:hover {
  color: white;
  cursor: pointer;
}

.mobile_nav {
  position: absolute;
  top: 20px;
  right: 5%;
  display: none;
}
.mobile_nav-bars {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}
.nav:target {
  display: block;
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .product_container {
    width: 80%;
  }

  .filter_container {
    width: 100%;
  }
  .product_select h4 {
    margin: 10px;
    margin-right: 5px;
  }
  .liked_list {
    width: 100%;
  }
  .liked_item {
    width: 100%;
  }
  .liked {
    width: 80%;
    margin: 0 auto;
  }
  .filter_select-h4 {
    text-align: left;
    margin: 15px 0;
  }
  .filter_select {
    margin-right: 5px;
  }
  .nav_list-link {
    padding-left: 10px;
  }
  .nav_list-item {
    font-size: 11px;
  }
  .brand-new__list,
  .news__list {
    display: block;
  }
  .brand-new__list--item,
  .news__list--item {
    width: 75%;
    margin: 30px auto;
  }
  .nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
  .hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--orangeColor);
  }
  footer {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .products {
    display: block;
  }
  .detail_third-photo {
    display: none;
  }
  .detail_images {
    display: flex;
    width: 100%;
  }
  .detail_main-photo,
  .detail_second-photo {
    width: 180px;
    height: 200px;
  }

  .wishlist_button {
    width: 50%;

    margin: 20px auto;
  }

  .detail_size {
    display: block;
  }
  .right,
  .left {
    width: 100%;
  }
  .right {
    padding: 30px 10px;
  }
  .product_details {
    display: block;
  }
}
